= render partial: 'layouts/navigation', locals: {page_name: 'Фирмы'}

= content_for :aside do
  = render partial: 'firms/aside/new_firm'

- unless @firms.length > 0
  %section
    %h1.no-data
      Пока нету фирм в наше базе
      = link_to 'но можно добавить', new_firm_path
- else
  = render partial: 'firms/shared/firm', collection: @firms, as: :item
