.entity
  .content
    %h2.title
      = link_to "#{item.num} - #{item.name}", item
      %span.descr
        = "- учащихся ( #{item.groups.map{|x| x.users.length}.sum} )"
    %p
      = item.description
    = render partial: 'specialties/shared/tags', locals:{item:item}