= content_for :aside do
  = render partial: 'electives/aside/el_day'

= content_for :title do
  Кружок
  = @elective.name

.create
  = simple_form_for @elective do |f|
    = f.input :name, label: 'Название кружка', autofocus: true
    = f.input :description, label: 'Описание кружка', hint: 'Подробно опишите, что и как будет происходить на занятиях', placeholder: 'Необязательно'
    .input
      = f.submit 'Сохранить', class: 'btn btn-light-green'