= render partial: 'layouts/navigation', locals: {page_name: 'Кружки'}

= content_for :aside do
  = render partial: 'electives/aside/new_electives'
  = render partial: 'shared/aside/search', locals:{url: search_electives_path, search: @search}

- unless @electives.length > 0
  %section
    %h1.no-data
      Пока нету кружков
      = link_to 'но можно добавить', new_elective_path
- else
  = render partial: 'electives/shared/elective', collection: @electives, as: :item

