= render partial: 'layouts/navigation', locals: {page_name: 'Кружки'}
%table
  %thead
    %tr
      %th description
      %th
      %th
      %th
  %tbody
    - @electives.each do |elective|
      %tr
        %td= elective.description
        %td= link_to 'Show', elective
        %td= link_to 'Edit', edit_elective_path(elective)
        %td= link_to 'Destroy', elective, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Elective', new_elective_path
