= content_for :aside do
  = render partial: 'electives/aside/show_list'
  .aside-item
    %p Посетители кружка
    .peoples
      = render partial: 'users/shared/user_small', collection: @elective.users, as: :user

= content_for :title do
  Кружок


.full-body
  .full-descr
    = link_to edit_elective_path(@elective), class: 'btn btn-regular r' do
      %i.icon-pencil
      Править
    = button_to  @elective, method: :delete,  class: 'btn btn-warning r' do
      %i.icon-trash
      Удалить
  .content
    %h2.title
      = @elective.name
    %p
      = @elective.description