.entity
  %h2.title
    = link_to item.name, item
    %span.descr
      = '- всего часов'
      %strong= item.elective_days.sum(:num)
  .content
    %p
      = item.description[0..300]

      - if item.description.length > 300
        %span ...
        = link_to 'еще', item

    .peoples
      = render partial: 'users/shared/user_small', collection: item.users, as: :user
      = render partial: 'elective_days/shared/days', locals:{days: item.elective_days}