- small ||= false
.people
  = link_to user do
    = image_tag user.logo.url(small ? :small : :medium)
  .name
    = link_to user do
      = user ? user.name : 'Непойми кто'
    %span.subscr
      Кружки
      = user.electivesations.count