- small ||= false
.people
  = link_to user do
    = image_tag avatar_url(user, :large)
  .name
    = link_to user do
      = user ? user.name : 'Непойми кто'
    %span.subscr
      Кружки
      = user.electivesations.count