= content_for :aside do
  = render partial: 'groups/aside/add_group'
  = render partial: 'users/aside/electives'
  = render partial: 'shared/aside/search', locals:{url: search_groups_path, search: @search}

= render partial: 'layouts/navigation', locals: {page_name: 'Списки групп'}

- unless @groups.length > 0
  %section
    %h1.no-data
      Пока нету групп, но
      = link_to 'можно добавить', new_group_path
- else
  = render partial: 'groups/blocks/group', collection: @groups


