- content_for :aside do
  = render partial: 'users/avatar/avatar_edit_preview'
  = render partial: 'users/aside/add'

= content_for :title do
  Профиль
  = '"' + @user.name+'"' unless @user.name.nil?

.create
  = simple_form_for @user, html: { method: :put } do |f|
    = f.input :name, label:'Ваше ФИО', autofocus: true
    = f.input :city, as: :country, label: 'Откуда вы'
    %h3
      Основные категории
    = f.association :group, label: 'Ваша группа'
    = f.association :user_type, label: 'Ваша роль'
    %h3
      Контактная информация
    = f.input :address, as: :text, label: 'Где вас можно найти', placeholder: 'необязательное поле', hint: 'Чем подробнее напишите, тем проще вас будет найти'
    = f.input :email, label: 'Почта'
    = f.input :phone, label: 'Ваш контактный телефон', placeholder: '8(029) xxx-xx-xx'

    %h3
      Кружки и доклады
    = f.association :electives, label: 'Кружки'
    = f.association :event_reports, label: 'Докалды'
    .input
      = f.submit 'Сохранить', class: 'btn btn-light-green'