- content_for :aside do
  = render partial: 'users/avatar/avatar_edit_preview'


.create
  %h1
    Профиль
    = @user.name

  = simple_form_for @user, html: { method: :put } do |f|
    = f.input :name, autofocus: true
    = f.input :email
    .input
      = f.submit 'Сохранить', class: 'btn btn-light-green'