- content_for :aside do
  -#= image_tag @user.logo.url(:medium)
  = render partial: 'users/avatars/form', locals: {avatarable: @user}
  -#= render partial: 'users/avatars/crop', locals: {avatarable: @user}

.create
  %h1
    Профиль
    = @user.name

  = simple_form_for @user, html: { method: :put } do |f|
    = f.input :name, autofocus: true
    = f.input :email
    .input
      = f.submit 'Сохранить', class: 'btn btn-light-green'