- content_for :aside do
  = render partial: 'users/aside/electives'
  = render partial: 'shared/aside/search', locals:{url: search_users_path, search: @search}

= render partial: 'layouts/navigation', locals: {page_name: 'Учащиеся'}
- unless @users.length > 0
  %section
    %h1.no-data
      Пока нету пользователей
      = link_to 'можешь быть первым', new_user_registration_path
- else
%section.peoples
  = render partial: 'users/shared/user', collection: @users
