= content_for :title do
  Специальность
  = "#{@specialty.num} - #{@specialty.name}"

.main-content.create
  = simple_form_for @specialty do |f|
    = f.input :name, label: 'Название специальности', autofocus: true
    = f.input :num, label: 'Числовой код', hint: 'Необходим для ведомостей'
    .input
      = f.submit 'Сохранить', class: 'btn btn-light-green'