= render partial: 'layouts/navigation', locals: {page_name: 'Специальности'}

= content_for :aside do
  = render partial: 'specialties/aside/new_specialities'
  = render partial: 'shared/aside/search', locals:{url: search_specialties_path, search: @search}


- unless @specialties.length > 0
  %section
    %h1.no-data
      Пока нету специальностей в наше базе
      = link_to 'но можно добавить', new_specialty_path
- else
  = render partial: 'specialties/shared/speciality', collection: @specialties, as: :item