= content_for :title do
  Специальность

.entity
  .content
    %h2.title
      = "#{@specialty.num} - #{@specialty.name}"
    .sub
      %ul.list.inline
        %li
          = link_to edit_specialty_path(@specialty), class: 'btn btn-regular' do
            %i.icon-pencil
            Править
        %li
          = button_to  @firm, method: :delete,  class: 'btn btn-warning' do
            %i.icon-trash
            Удалить