- content_for :aside do
  = render partial: 'events/aside/add_new'
  = render partial: 'shared/aside/search', locals:{url: search_events_path, search: @search}

= render partial: 'layouts/navigation', locals: {page_name: 'События'}

- unless @events.length > 0
  %section
    %h1.no-data
      Пока нету событий в наше базе
      = link_to 'но можно добавить', new_event_path
- else
  = render partial: 'events/shared/event', collection: @events, as: :item