= content_for :aside do
  = render partial: 'event_types/aside/show_list'
  = render partial: 'events/aside/add_new'

= content_for :title do
  Тип события
  = notice

.full-body
  .full-descr
    = link_to edit_event_path(@event), class: 'btn btn-regular r' do
      %i.icon-pencil
      Править
    = button_to  @event, method: :delete,  class: 'btn btn-warning r' do
      %i.icon-trash
      Удалить
  .content
    %h2.title
      = @event.name
    %h3
      = @event.event_type.name unless @event.event_type.nil?
    %span.descr
      %strong
        = l(@event.start, format:('%d %B %Y'))
      по
      %strong
        = l(@event.end, format:('%d %B %Y'))