= content_for :title do
  Список типов
%table
  %thead
    %tr
      %th Название
      %th Описание
      %th
      %th
      %th
  %tbody
    - @user_types.each do |user_type|
      %tr
        %td= user_type.name
        %td= user_type.description
        %td
          = link_to edit_user_type_path(user_type), class: 'btn btn-regular' do
            %i.icon-pencil
            Править
        %td
          = link_to user_type, method: :delete, class: 'btn btn-warning' do
            %i.icon-trash
            Удалить
= link_to new_user_type_path, class: 'btn btn-light-green' do
  %i.icon-plus-sign
  Новый тип
