= content_for :aside do
  = render partial: 'user_types/aside/show_list'

= content_for :title do
  = notice

%h1
  = link_to @user_type.name, edit_user_type_path(@user_type)
%p
  = @user_type.description
