= simple_form_for(@event_report) do |f|
  = f.error_notification
  .inputs
    = f.input :name
    = f.input :tech_support
    = f.input :hostel
    = f.input :sinopsis
    = f.input :event_id
  .actions
    = f.button :submit
