<h1>Listing event_reports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tech support</th>
      <th>Hostel</th>
      <th>Sinopsis</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_reports.each do |event_report| %>
      <tr>
        <td><%= event_report.name %></td>
        <td><%= event_report.tech_support %></td>
        <td><%= event_report.hostel %></td>
        <td><%= event_report.sinopsis %></td>
        <td><%= event_report.event_id %></td>
        <td><%= link_to 'Show', event_report %></td>
        <td><%= link_to 'Edit', edit_event_report_path(event_report) %></td>
        <td><%= link_to 'Destroy', event_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event report', new_event_report_path %>
