%h1 Listing event_reports
%table
  %thead
    %tr
      %th Name
      %th Tech support
      %th Hostel
      %th Sinopsis
      %th Event
      %th
      %th
      %th
  %tbody
    - @event_reports.each do |event_report|
      %tr
        %td= event_report.name
        %td= event_report.tech_support
        %td= event_report.hostel
        %td= event_report.sinopsis
        %td= event_report.event_id
        %td= link_to 'Show', event_report
        %td= link_to 'Edit', edit_event_report_path(event_report)
        %td= link_to 'Destroy', event_report, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Event report', new_event_report_path
