= content_for :aside do
  = render partial: 'event_reports/aside/new_report'
  = render partial: 'shared/aside/search', locals:{url: search_event_reports_path, search: @search}

= content_for :title do
  Список долкадов

- unless @event_reports.length > 0
  %section
    %h1.no-data
      Пока нету докладов
      = link_to 'но можно добавить', new_event_report_path
- else
  = render partial: 'event_reports/shared/event_report', collection: @event_reports, as: :item