= content_for :aside do
  = render partial: 'event_reports/aside/show_list'

= content_for :title do
  Доклад
  = notice

.full-body
  .full-descr
    = link_to edit_event_report_path(@event_report), class: 'btn btn-regular r' do
      %i.icon-pencil
      Править
    = button_to  @event_report, method: :delete,  class: 'btn btn-warning r' do
      %i.icon-trash
      Удалить
  .content
    = render partial: 'event_reports/shared/event_report_show', locals:{item: @event_report}
    - unless @event_report.event.nil?
      %h3
        событие
        = link_to @event_report.event.name, @event_report.event, class:'tag'
      %p
        Которое будет проводиться с
        %strong
          = l(@event_report.event.start, format:('%d %B %Y')) unless @event_report.event.start.nil?
        по
        %strong
          = l(@event_report.event.end, format:('%d %B %Y')) unless @event_report.event.end.nil?
