= content_for :aside do
  = render partial: 'event_reports/aside/show_list'

= content_for :title do
  Доклад
  = notice

.full-body
  .full-descr
    = link_to edit_event_report_path(@event_report), class: 'btn btn-regular r' do
      %i.icon-pencil
      Править
    = button_to  @event_report, method: :delete,  class: 'btn btn-warning r' do
      %i.icon-trash
      Удалить
  .content
    %h2.title
      = @event_report.name
      %span.descr
        - if @event_report.tech_support
          \-
          %strong Есть
          техническая поддрежка
        - else
          \-
          %strong Нету
          технической поддержки

        - if @event_report.hostel
          \-
          %strong с гостинецей
        - else
          \-
          без гостиницы

    %p
      = @event_report.sinopsis

    - if @event_report.users.length > 0
      %h3
        Подготовлено
      .peoples
        = render partial: 'users/shared/user', collection: @event_report.users

    - unless @event_report.event.nil?
      %h3
        Подготовлен для события
        = '"'+ @event_report.event.name + '"'
      %p
        Которое будет проводиться с
        %strong
          = l(@event_report.event.start, format:('%d %B %Y')) unless @event_report.event.start.nil?
        по
        %strong
          = l(@event_report.event.end, format:('%d %B %Y')) unless @event_report.event.end.nil?
