= content_for :title do
  Типы событий

- content_for :aside do
  = render partial: 'event_types/aside/new_event_type'
  = render partial: 'shared/aside/search', locals:{url: search_event_types_path, search: @search}

- if @event_types.length > 0
  = render partial: 'event_types/shared/event_type', collection: @event_types, as: :item
- else
  %section
    %h1.no-data
      Пока нету типов
      = link_to 'но можно добавить', new_event_type_path
