%p#notice= notice
%p
  %strong Name:
  = @event_type.name
%p
  %strong Description:
  = @event_type.description
= link_to 'Edit', edit_event_type_path(@event_type)
|
\#{link_to 'Back', event_types_path}
