.auth
  .block
    = simple_form_for resource,as: :resource_name, url: user_session_path do |f|
      %header
        %h2
          Войдите
        %p
          Что бы быть полноценным пользователем
      %section
        = f.input :email,label: false, placeholder: 'введите свой email', autofocus: true
        .attach-group
          = f.input :password, label: false, placeholder: 'пароль'
          = f.submit 'Вход', class: 'btn btn-light-green'
          = f.input :remember_me, as: :boolean, label: 'Запомни меня'

  .block
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      %header
        %h2
          Зарегистрируйтесь
        %p
          Что бы работать с нашей системой
      %section
        = f.input :email,label: false, placeholder: 'введите свой email'
        .attach-group
          = f.input :password,label: false, placeholder: 'пароль'
          = f.submit  'Регистрация', class: 'btn btn-regular'