!!!
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'desciption', content: content_for?(:description) ? yield(:description) : 'хранилище данных'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    - if content_for?(:keywords)
      %meta{name: 'keywords', content: yield(:keywords)}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %title
      = "dataBase - #{yield(:title)}"
    = yield(:head)
  %body{data: {page_alias: "#{params[:controller]}.#{params[:action]}"}}
    .wrap
      = yield(:header)
      = yield(:landing)
      = yield(:main)
      = yield(:footer)