- content_for :header do
  = render 'layouts/header'

- content_for :main do
  %section.main{class: params['controller']}
    = yield(:page_nav)
    - if content_for? :aside
      %section.main-content
        = yield
      %aside.aside-content
        = yield(:aside)
    - else
      .full-main-content
        = yield

- content_for :footer do
  %footer.page
    .wrapper
      %span.r &copy; Юдинцева Юлия, 2013

= render 'layouts/base'
